@media ( min-width: 992px)
  .navbar
    &-menu
      &__link
        &:hover
          &::after
            height: 3px
            opacity: 1
            transform: translateY(5px)
  .btn-hover
    transition: .3s all
    &:hover 
      background-color: #ce0c42
  .footer
    &__item, 
      &-link, &-email, &-number
        transition: .2s
        &:hover
          font-weight: 700
          color: $primary
    &-bottom
      &__link
        transition: .2s
        &:hover
          font-weight: 700
          color: $primary

@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel__slider
    width: 590px
  .card
    width: 230px
  .packages, .restaurants
    &-grid
      column-gap: 15px
      row-gap: 15px
    &-item
      &__descr
        &--big
          padding: 20px 21px 25px 32px
  .footer
    &-wrapper
      grid-template-columns: 25.1% 22.6% 31.5% 20.5%
                 
//==============================================//
@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &__search
      margin-left: 48px
    &-menu
      height: 60px
      &__list
        flex-wrap: nowrap
        padding: 20px 14px
      &__link
        font-size: 11.5px
        line-height: 15px
    &-top
      padding-top: 30px
      padding-bottom: 30px
  .search
    &__input
      width: 340px 
  .breadcrumb
    &-list
      padding: 20px 0
  .hotel
    padding: 14px 0 57px
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-inner    
      flex-direction: row
  .booking, .map
    width: 340px
  .booking
    padding: 29px 22px 26px 23px
  .newsletter
    padding: 92px 0 93px 0
  .reviews
    &-slider
      &__item
        max-width: 580px
        &::after, &::before
          display: none
      &__text
        padding: 32px 0 0
      &__avatar
          margin-bottom: 10px
      &__username
        margin-bottom: 11px
      &__date
        line-height: 8px
    &__slider
      &-button
        &--prev
          top: 155px
          left: 0
        &--next
          top: 155px
          right: 0
    &__title
      margin-bottom: 50px
      font-size: 30px
      line-height: 38px
  .activities
    padding-top: 55px
    padding-bottom: 50px
  .card
    width: 339px
    margin-bottom: 20px
  .packages, .restaurants
    &-grid
      column-gap: 30px
      row-gap: 30px
    &-item
      &:first-child
      &__subtitle
        &--big
          margin-bottom: 27px
      &__info
        margin-bottom: 47px 
  .footer
    padding-top: 73px
    &-wrapper
      grid-template-columns: 27.5% 42.5% 28.8%
      row-gap: 37px
    &__logo
      width: 104px
      grid-row: 1 / 2
      grid-column: span 1
    &__social
      &-network
        align-self: center
        grid-row: 1 / 2
        grid-column: span 2 
    &__categories
      grid-row: 2 / 3
      grid-column: 1 / 2
    &__additional
      grid-row: 2 / 3
      grid-column: 2 / 3
    &__legal
      grid-row: 2 / 3
      grid-column: 3 / 4
    &__contact-details
      grid-row: 3 / 4
      grid-column: 1 / 4
    &__contacts-form
      grid-row: 4 / 5
      grid-column: 1 / 4
      width: 78%
    &__title
      &--mt-contact
        margin-top: 27px
      &--mb-message
        margin-bottom: 38px
    &__icon
      padding-left: 8px
    &-bottom
      padding-top: 20px
      &__inner
        width: 100%
  .modal
    &__dialog
      padding: 23px 78px
    
//==============================================//      
@media (max-width: 767px) 
  body
    padding-top: 78px
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &-fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search,&__user
      display: none
      margin-left: 0
      &--mobile
        &-hidden
          display: none
        &-visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-menu
      position: fixed
      right: -100%
      top: 78px
      width: 100vw
      height: 100vh
      padding-top: 30px
      padding-bottom: 30px
      overflow: auto
      opacity: 0
      transition: all .8s
      &--visible
        right: 0
        opacity: 1
      &__list
        position: absolute
        left: 0
        right: 0
        height: 70%
        padding: 0 0 55px 0
        overflow-y: scroll
        flex-direction: column
        line-height: 0.5
      &__item
        margin-bottom: 20px
        &--mobile
          &-visible
            display: block
            min-width: 245px
            &:nth-child(1)
              margin-bottom: 30px
            &:nth-child(2)
              margin-bottom: 39px    
  .user
    &__name
      &--light
        color: $light  
        margin-left: 0
        margin-top: 10px
  .menu
    &-button
      display: flex
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
        transition: .3s all
        &--active
          &:nth-child(1)
            height: 2px
            transform: translateY(3px) rotate(-45deg)
          &:nth-child(2)
            display: none
          &:nth-child(3)
            height: 2px
            transform: translateY(-6px) rotate(45deg)
  
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100% 
      &__name
        margin-top: 10px  
      &__ratings
        display: none
      &__offer
        order: -1
    &__swiper-container
        height: 350px
    &-inner
      flex-direction: column
      min-height: 450px
  .booking, .map
    width: 100%
  .newsletter
    padding: 76px 20px 83px 20px
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &-inner
      width: 100%
      margin-bottom: 37px
  .subscribe
    width: 100%
    max-width: 531px
    &__input
      padding-left: 20px
  .reviews
    &__slider
      &-button
        &--prev
          top: 30px
          left: 20%
        &--next
          top: 30px
          right: 20%
  .card
    width: 49% 
  .packages, .restaurants
    &-container
      width: 95%
    &__title
      font-size: 30px
      line-height: 38px
    &-grid
      grid-template-columns: 1fr
      column-gap: 15px
      row-gap: 15px
    &-item
      display: grid
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
      &:first-child
        grid-column: 1 / 1
        grid-template-columns: repeat(auto-fit, minmax(200px, 288px))
      &__descr
        &--big
          padding: 30px 21px 25px 32px  
      &__subtitle
        &--big
          margin-bottom: 23px
      &__room
        &--big
          margin-bottom: 24px
      &__info, &__stars
        display: none
      &__offer
        &--big
          @include offer-small 
  .footer
    padding-top: 69px
    &-wrapper
      grid-template-columns: repeat(auto-fill, 100%)
    &__logo
      width: 104px
      grid-row: 1 / 2
      grid-column: span 1
    &__social
      &-network
        align-self: center
        grid-row: 2 / 3
        grid-column: 1 / 2
    &__legal
      grid-row: 3 / 4
      grid-column: 1 / 2
    &__additional
      grid-row: 4 / 5
      grid-column: 1 / 2
    &__categories
      grid-row: 5 / 6
      grid-column: 1 / 2  
    &__contact-details
      grid-row: 6 / 7
      grid-column: 1 / 2
    &__contacts-form
      grid-row: 7 / 8
      grid-column: 1 / 2
      width: 100%
    &__form
      &-submit
        flex-basis: 45%
        flex-direction: column
      &-group
        flex-basis: 100%
    &__info
      order: -1
      margin-bottom: 15px
    &-bottom
      &__inner
        flex-direction: column
        align-items: center
        width: 100%
      &__list
        max-width: 100%
  .modal
    &__dialog
      padding: 23px 66px
    &__form
      &-submit
        flex-direction: column
    &__info
      order: -1
      margin-top: 0
      margin-bottom: 15px
//==============================================//
@media (max-width: 620px) 
  .navbar
    &__search
      margin-right: 0
  .logo
    width: 99px
  .reviews
    &-slider
      &__item
        width: 95%  
  .activities
    padding-top: 40px
    padding-bottom: 40px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card
    height: 200px 
  .packages, .restaurants
    &-grid
      grid-template-columns: repeat(auto-fit,minmax(260px, 1fr))
    &-item
      grid-column: 1 / -1
      &:first-child
        grid-template-columns: repeat(auto-fit, minmax(260px, 1fr))
        grid-column: 1 / -1
      &__price
        flex-direction: column
        align-items: flex-start
      &__pricetag
        margin-bottom: 15px
      &__btn
        width: 100%
        max-width: 100%  
  .modal
    &__dialog
      padding: 23px 38px
    &__form
      &-btn
        min-width: 160px
        min-height: 40px
        padding: 5px 10px 5px
  
//================================================//
@media (max-width: 557px)
  .search
    &__input
      width: 100%
  .card
    width: 100%
    min-width: 280px
    height: 255px
    &:nth-child(1) 
      order: 1
    &:nth-child(2) 
      order: 3
    &:nth-child(3) 
      order: 2
    &:nth-child(4) 
      order: 4
  .packages, .restaurants
    &-container
      max-width: 80%
    &-grid
      grid-template-columns: 1fr
    &-item
      grid-template-columns: 100%
      grid-template-rows: repeat(auto-fit, minmax(200px, 321px))
      &:first-child
        grid-template-rows: repeat(auto-fit, minmax(200px, 321px))
      &__offer
        @include offer-big 
        &--big
          @include offer-big
    .footer
      &-wrapper
  .modal
    &__dialog
      width: 80%
      padding: 23px 45px    
//================================================//
 
@media (min-width: 319px) and (max-width: 420px) 
  .container
    max-width: 88%
  .navbar
    &__search
      &--mobile
        &-visible
          width: 100%
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &-info
      &__name
        margin-right: 0
    &__slider
      margin-bottom: 20px
    &__swiper-container
      height: 179px
    &-inner
     min-height: 403px
    &-grid
      margin-top: 18px
  .booking
    padding: 29px 21px 26px 22px
    &__start
      line-height: 15px
    &__room
      margin-top: 6px
  .map
    height: 173px
  .newsletter
    background-position: bottom 51% right 50%
    &-wrapper
      min-width: 280px
      margin: 0
    &-title
      font-size: 20px
      line-height: 25px
    &-strong
      font-size: 30px
      line-height: 47px
    &-inner
      margin-bottom: 34px
  .reviews
    &__title
      width: 80%
      margin: auto
      margin-bottom: 42px
      font-size: 18px
      line-height: 23px
    &-slider
      &__item
        width: 100%
        min-width: 281px
        padding: 0 29px 36px 33px
      &__avatar
        margin-bottom: 8px
      &__text
        padding-top: 30px
        text-align: left
        line-height: 19px
    &__slider
      &-button
        &--prev
          left: 12%
        &--next
          right: 13%
  .packages, .restaurants
    &__title
        font-size: 18px
        line-height: 23px
    &-item
      grid-template-rows: repeat(auto-fit, minmax(200px, 250px))
      &:first-child
        grid-template-rows: repeat(auto-fit, minmax(200px, 250px))   
  .footer
    &-wrapper
      row-gap: 30px
    &__social
      &-network
        flex-direction: column
        align-items: start
    &__title
      &--mr-social 
        margin-bottom: 20px
      &--mt-contact 
        margin-top: 14px
      &--mb-message 
        margin-bottom: 17px
    &__text 
      margin-bottom: 19px
    &__icon
      &-wrapper 
        min-width: 32px
    &__contact-details
      margin-bottom: 10px
      max-width: 100%
    &__icon
      padding-left: 5px
      padding-top: 7px
    &__form
      &-group
        margin-bottom: 13px
      &-message
        margin: 0
    &-bottom
      padding: 0
      &__inner
        align-items: start
  .modal
    &__dialog
      width: 95%   
    