@media ( max-width: 1200px )
  .container
    max-width: 960px
  .hotel__slider
    width: 590px

//==============================================//
@media ( max-width: 992px )
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &__search
      margin-left: 48px
    &-menu
      height: 60px
      &__list
        padding: 20px 14px
      &__link
        font-size: 11.5px
        line-height: 15px
    &-top
      padding-top: 30px
      padding-bottom: 30px
  .search
    &__input
      width: 340px 
  .breadcrumb
    &-list
      padding: 20px 0
  .hotel
    padding: 14px 0 57px
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-inner    
      flex-direction: row
  .booking, .map
    width: 340px
  .booking
    padding: 29px 22px 26px 23px
  .newsletter
    padding: 92px 0 93px 0
  

//==============================================//      
@media (max-width: 767px)
  .container, .newsletter-wrapper
    max-width: 576px
    width: 92%
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      height: 11px
      align-items: center
      justify-content: space-between
      flex-direction: column
      background-color: $light
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100% 
      &__name
        margin-top: 10px  
      &__ratings
        display: none
      &__offer
        order: -1
    &__swiper-container
        height: 350px
    &-inner
      flex-direction: column
      min-height: 450px
  .booking, .map
    width: 100%
  .newsletter
    padding: 76px 20px 83px 20px
    &-wrapper
      flex-direction: column
      align-items: flex-start
    &__inner-title
      width: 100%
      margin-bottom: 37px
  .subscribe
    width: 100%
    max-width: 531px
    
//==============================================//
@media (max-width: 576px)
  .logo
    width: 99px
  
@media (min-width: 319px) and (max-width: 420px) 
  .container
    max-width: 88%
  .navbar
    &-top
      padding-top: 23px
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &-info
      &__name
        margin-right: 0
    &__slider
      margin-bottom: 20px
    &__swiper-container
      height: 179px
    &-inner
     min-height: 403px
    &-grid
      margin-top: 18px
  .stars
    margin-right: 13px
  .booking
    padding: 29px 21px 26px 22px
    &__start
      line-height: 15px
    &__room
      margin-top: 6px
  .map
    height: 173px
  .newsletter
    background-position: bottom 51% right 50%
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 47px
    &__inner-title
      margin-bottom: 34px