@mixin slider_btn 
  position: absolute 
  z-index: 99
  width: 30px
  height: 30px
  border: none
  cursor: pointer
  background-repeat: no-repeat
  background-position: center
  background-size: 10px
  background-color: transparent
  outline: none

@mixin btn 
  max-width: 100%
  padding: 7px 10px 7px 10px
  border-radius: 4px
  background-color: $primary
  font-family: Nunito
  font-weight: 600
  font-size: 12px
  line-height: 16px
  color: $light
  transition: .3s
  &:hover
    background-color: #f70743
  &:active
    background-color: #e4063e